// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.sidemenu {
    .toolbar-background{
        background-color: #217821;
        border-bottom-color: #217821;
    }
    .toolbar-title {
        color: #fff !important;
    }
    .fixed-content {
        background-color: #217821; 
    }
    button {
        background-color: #217821;
        border-top: 1px solid #217821 !important;
        border-bottom: 1px solid #217821 !important;
        color: #fff;
    }
    .item-inner{
        border-top: 1px solid #217821 !important;
        border-bottom: 1px solid #217821 !important;
    }
    ion-icon {
        padding-left: 20px;
    }
    .version {
        font-size: 10px;
        color: #fff;
        padding-left: 5px;
    }
}